Repository exphost/exphost-template-renderer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_helm, build_docker

build_helm:
  stage: build
  before_script:
  - apt-get update
  - apt-get install curl gpg --yes
  - curl https://baltocdn.com/helm/signing.asc | apt-key add -
  - apt-get install apt-transport-https --yes
  - echo "deb https://baltocdn.com/helm/stable/debian/ all main" | tee /etc/apt/sources.list.d/helm-stable-debian.list
  ...

build_docker:
  image: docker:dind
  stage: build
  script:
  - docker build -t registry.home.exphost.pl/exphost/template-renderer:$CI_COMMIT_REF_SLUG .
  - docker push registry.home.exphost.pl/exphost/template-renderer

ci trigger change in Dockerfile
  Dockerfile
Due: build_docker

ci
  .gitlab-ci.yml
Due: none

renderer
  app/renderer.py
Due: none

renderer
  Dockerfile
  Makefile
  app/renderer.py
  app/test.py
  template-renderer/templates/cr.yml
  template-renderer/templates/crb.yml
  template-renderer/templates/crd_template.yml
  template-renderer/templates/deployment.yml
  template-renderer/templates/serviceaccount.yml
Due: build_helm, build_docker

remove helm
  .gitlab-ci.yml
  template-renderer/.helmignore
  template-renderer/Chart.yaml
  template-renderer/templates/NOTES.txt
  template-renderer/templates/cr.yml
  template-renderer/templates/crb.yml
  template-renderer/templates/crd_template.yml
  template-renderer/templates/deployment.yml
  template-renderer/templates/serviceaccount.yml
  template-renderer/values.yaml
Due: build_helm

add labels and annotations
  app/renderer.py
Due: none

add basic metrics - #5
  Dockerfile
  Makefile
  app/renderer.py
Due: build_docker

add owner refernce to rendered objects - closes #57
  app/renderer.py
Due: none

migrate from template to templates - refs #26
  app/renderer.py
Due: none

add counters and timing metrics - refs #88
  app/renderer.py
Due: none

Path conditions:
  build_helm: any of: template-renderer/**/*
  build_docker: any of: Dockerfile, /app/**/*
